* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: workSans;
  color: white;
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: normal;
  src: url(Fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
}
.app {
  max-height: 100vh;
}
body {
  background-image: url(Imgs/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 2.5rem 7.5rem;
}
.currentCast__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 7.5rem;
  align-items: center;
}
.currectCast__info-left,
.currectCast__info-right {
  display: flex;
  flex-direction: column;
}
.currectCast__info-right {
  padding-right: 3rem;
}
.currentCast__dayDegree {
  display: flex;
  justify-content: flex-end;
}
.currentCast__city {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.currentCast__date {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 1rem 0;
}
.currenCast__img {
  width: fit-content;
  margin-top: 1.5rem;
}
.currentCast__imgDescription {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
.currentCast__currentDegree {
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  position: relative;
}
.currentCast__currentDegree::after {
  content: "\00B0";
  font-size: 6.25rem;
  position: absolute;
  top: 0;
}
.currentCast__dayDegree {
  font-size: 3rem;
  font-weight: 400;
}
.currentCast__dayDegree-low {
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem 0.5rem;
  position: relative;
}
.currentCast__dayDegree-low::after {
  content: "\00B0";
  font-size: 3rem;
  position: absolute;
  top: 0;
}
.currentCast__dayDegree-high {
  padding: 1rem 0.5rem;
  position: relative;
}
.currentCast__dayDegree-high::after {
  content: "\00B0";
  font-size: 3rem;
  position: absolute;
  top: 0;
}
.currentCast__dayDegree-divider {
  padding: 1rem;
}
.currentCast__decription {
  font-size: 1.5rem;
  font-weight: 600;
}
.CastTabs__container {
  padding: 2.5rem 7.5rem 0 7.5rem;
}
.castTabs__tabs {
  font-weight: 700;
  font-size: 1.375rem;
  list-style: none;
  display: flex;
  position: relative;
}
.castTabs__tabs::after {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  bottom: 1px;
}
.castTabs__tab {
  margin-right: 3.75rem;
  padding-bottom: 1rem;
}
.castTabs__tab.react-tabs__tab--selected {
  border-bottom: 3px solid white;
}
.castTabs__tab:last-child {
  margin-right: 0;
}
.CastTabPanel__container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
::-webkit-scrollbar {
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1ex;
  box-shadow: inset 0 0 6px white;
}
::-webkit-scrollbar-corner {
  background: white;
}
::-webkit-scrollbar-track {
  height: 1px;
  width: 1px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.castTabPanel__wrapper {
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.castTabPanel__wrapper:first-child {
  padding-left: 1rem;
}
.castTabPanel__wrapper:last-child {
  padding-right: 1rem;
}
.castTabPanel__time {
  font-size: 1.5rem;
  font-weight: 400;
}
.castTabPanel__img {
  width: 3.75rem;
  padding-top: 1rem;
}
.castTabPanel__degree {
  font-size: 2rem;
  position: relative;
  padding-top: 1rem;
}
.castTabPanel__degree::after {
  content: "\00B0";
  font-size: 2rem;
  position: absolute;
  top: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.switch__list {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.switch__list-item {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.switch__list-item.active {
  background-color: rgba(255, 255, 255, 0.25);
}
.switch__list-divider {
  padding-top: 1px;
  position: absolute;
  text-transform: uppercase;
  left: 49%;
  transform: scaleY(3);
  bottom: 1rem;
}
.switch__wrapper {
  display: flex;
}
